name: Test Artifact Upload
on: [push]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Install Dependencies
        run: npm ci
        
      - name: Build Standalone File
        run: npm run build
        
      - name: Run The Standalone Script
        # This runs the single file which triggers the upload logic
        run: node dist/index.js